:root {
}
body {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-top: 15px;
}
.Container {
    padding: 15px;

    width: 1122px;
    max-width: 1122px;
    border: 1px solid #8f8f8f3b;
    min-height: 100vh;
    border-radius: 15px;
}
